<html>

<head>

<title> Campus Closet QR code creator </title>

 

</head>

<body>

<h1 style="color:#003057" >

 

 

Suit Finder

 

</h1>

<style>

body {

background-color:#B3A369

}

</style>

<form action="{{ url_for('qr_form') }}" method="post">

    <label for="fname">Size</label><br>

    <input type="text" id="size" name="size" value=""><br>

    <label for="gender">gender</label><br>

    <input type="text" id="gender" name="gender" value=""><br><br>

    <input type="submit" value="Submit">

  </form style="text>

  <p style=font-family:calibri;>

 

  </p>

 

</body>

</html>